@model SistemaVendas.Models.Vendas;

@{
    ViewData["Title"] = "Detalhes do Vendedor";
}

<h1>Detalhes do Vendedor</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.NomeVendedor)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.NomeVendedor)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.CpfVendedor)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.CpfVendedor)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.EmailVendedor)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.EmailVendedor)
        </dt>
    </dl>
</div>

<a asp-action="Editar" asp-route-id="@Model.Id">Editar</a>

<a asp-action="Index">Voltar</a>
